<mat-form-field class="search-field">
  <input #search type="text" matInput placeholder="Movie title" [formControl]="searchControl"
         (keyup)="handleEnterKey($event)">
  <!--  [formControl]="myControl" [matAutocomplete]="auto">-->
  <button *ngIf="!searchControl.value" mat-button matSuffix mat-icon-button (click)="search.focus()">
    <mat-icon>search</mat-icon>
  </button>
  <button *ngIf="searchControl.value" class="clear-btn" mat-button matSuffix mat-icon-button aria-label="Clear"
          (click)="clear()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<mat-paginator *ngIf="searchResult && searchResult.totalResults > 10"
               [length]="searchResult.totalResults"
               [pageSize]="10"
               (page)="goToPage($event.pageIndex + 1)">
</mat-paginator>

<app-movie-list [movies]="searchResult?.Search">
  <p><button mat-flat-button (click)="search.focus()">Enter move title</button> to find some movies.</p>
</app-movie-list>

<mat-paginator *ngIf="searchResult && searchResult.totalResults > 10"
               [length]="searchResult.totalResults"
               [pageSize]="10"
               (page)="goToPage($event.pageIndex + 1)">
</mat-paginator>
