:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  app-movie-card {
    width: 32%;
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    app-movie-card {
      width: 48%;
    }
  }

  @media (max-width: 576px) {
    app-movie-card {
      width: 100%;
    }
  }
}
