:host {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  &.empty {
    justify-content: center;
    align-items: center;
  }

  app-movie-card {
    width: 32%;
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    app-movie-card {
      width: 48%;
    }
  }

  @media (max-width: 576px) {
    app-movie-card {
      width: 100%;
    }
  }
}
